[sw]
	type = sw.entitytype
	content = {\"enabled\":true,\"index\":1000,\"name\":\"namespace\",\"pack\":\"admin\",\"team_security\":false,\"fields\":{\"description\":{\"name\":\"description\",\"datatype\":\"string\",\"enabled\":true},\"name\":{\"name\":\"name\",\"datatype\":\"string\",\"constraints\":\"[{\\\"annotation\\\":\\\"NotEmpty\\\",\\\"parameter1\\\":\\\"\\\"},{\\\"annotation\\\":\\\"Pattern\\\",\\\"parameter1\\\":\\\"[a-z][a-z0-9]{2,32}\\\"}]\",\"form_enabled_expr\":\"!isEdit\",\"searchtype\":\"select\",\"enabled\":true}}}
